@charset "UTF-8";

.listBox {
	text-align: center;
	width: 1000px;
	padding: 100px 10px 100px 10px;
	background-color: #ffffff;
}

.qBox {
	margin: 100px 0 50px 0;
	align-items: center;
	width: 1000px;
	padding: 30px 10px 30px 10px;
	background-color: #e4e2e3;
}

p.content_text01{
	font-family: malgun;
	font-size: 15px;
	font-weight: bold;
	color: #303030;
}

th.board_title {
	border: 1px solid #462600;
	font-size: 20px;
	color: #f1f1f1;
	font-family: malgun;
	font-weight: bold;
	text-align: center;
}

th.aboard_title {
	font-size: 20px;
	color: #000000;
	font-family: malgun;
	font-weight: bold;
	text-align: center;
}

td.board_content01 {
	border: 1px solid #462600;
	font-size: 18px;
	color: #535353;
	font-family: malgun;
	text-align: center;
}

td.board_content02 {
	border: 1px solid #462600;
	font-size: 18px;
	color: #535353;
	font-family: malgun;
	text-align: left;
}

td.board_content03 {
	background-color: #ffa6a6;
	border: 1px solid #462600;
	font-size: 18px;
	color: #535353;
	font-family: malgun;
	text-align: center;
}

hr.line {
	border: 1px solid #000000;
}

div.btn1 {
	text-align: right;
	margin-top: 15px;
}

.btnselect {
	margin: 5px 0 5px 0;
}

.title {
	font-size: 30px;
	font-family: malgun;
	font-weight: bold;
}

span.achart {
	color: #000080;
	font-size: 20px;
	font-family: malgun;
	font-weight: bold;
}