@charset "UTF-8";

* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  background: #ffffff;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginBox {
  width: 400px;
  text-align: center;
  background-color: #e4e2e3;
}
.input-form-box {
  display: flex;
  margin-bottom: 5px;
}
.input-form-box > span {
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 75px;
}
.button-login-box {
  margin: 10px 0;
}
#loginBoxTitle {
  color:#000000;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #270a09, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#inputBox {
  margin: 10px;
}

#inputBox button {
  padding: 3px 5px;
}

span.content_text01 {
	font-family: malgun;
	font-size: 15px;
	font-weight: bold;
	color: #303030;
}

span.content_text02 {
	font-family: malgun;
	font-size: 15px;
	font-weight: bold;
	color: #303030;
	width: 250px;
}

.room {
	background-color: #e4e2e3;	
}

.find_wrap {
	text-align: center;
}

.find_text {
	font-size: 13px;
	font-family: malgum;
}