@charset "UTF-8";

* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  background: #ffffff;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pageBox {
	text-align: center;
	width: 1000px;
	padding: 100px 0px 100px 0px;
	background-color: #c0c0c0;
}

.button_box {
	margin-top: 15px;
}
